body{
  margin: 0;
  text-align: center;
}

section{
  height: 100%;
  
}

#title{
  // height: auto;
  height: 100%;
  width: 100%;
  font-family: 'Poiret One', cursive; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0px 2px 0 #2a2a2a, 2px 8px 10px #444141;
          box-shadow: 0px 2px 0 #2a2a2a, 2px 8px 10px #444141;
  
  & div{
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    
  // height: auto;
  //   // & img{
  //   //   width: 100%;
  //   //   height: auto;
  //   // }
  
  //background-color: #2a2a2a;
  // width:auto;
  // height: 100%;
  background-repeat:no-repeat;
  background-size:cover;   
  //   & h1{
  //   font-family: 'Limelight', cursive;
  //   color: #dca342;
  //   font-size: 62.1;
  //   padding-top: 25%;
  //   padding-bottom: 50%;
  //   padding-left: 10px;
  //   padding-right: 10px;
    
    // }
  }
}

#about{
   height: auto;
   & div{
      margin-left: 0px;
      margin-right: 0px;
      height: auto;
      
    & div{
        height: auto;
  
      }
   }
    
    & h1{
      padding: 10%;
      padding-top: 20%;
      margin: 0%;
      height: 100%;
      width: auto;
      font-family: 'Limelight', cursive;
      font-size: 5rem;
    }

    & p{
      padding: 10%;
      width: auto;
      height: auto;
      margin: 0;
      line-height: 3.5rem;
      color: #5c636e;
      font-size: 1.5rem;
      text-align: left;
    }
    
  }

  #current-films{
    background-color: #2a2a2a;
    & h1{
      font-family: 'Limelight', cursive;
      margin-top: 5%;
      text-shadow: 1px 1px 1px black,
             2px 2px 1px black;
    }

    -webkit-box-shadow: 0px -2px 0 #2a2a2a, -2px -8px 10px #444141;
          box-shadow: 0px -2px 0 #2a2a2a, -2px -8px 10px #444141;
    height: auto;
    width: 100%;

    & #carouselExampleControls{      
      
      & .carousel-inner{
        
        background-color: #2a2a2a;
        

          & .carousel-item{
            
            width: 100%;
            height: auto;
            padding-top: 5%;
            padding-bottom: 10%;

            & .row{
              
              background-color: #dca342;
              // background: #ce863433;
              color: white;
              -webkit-box-shadow: 0px 2px 0 #2a2a2a, -2px 8px 10px #444141;
                box-shadow: 0px 2px 0 #2a2a2a, -2px 8px 10px #444141;

              & .card-body{
                background-color: black;
                
              }
              
              // opacity: 0.5;

            }
            
            
          }

      }
      

      

    }
  }
