body{
  margin: 0;
  text-align: center;
}

section{
  height: 100%;
  
}

#title{
  height: auto;
  font-family: 'Poiret One', cursive; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0px 2px 0 #2a2a2a, 2px 8px 10px #444141;
          box-shadow: 0px 2px 0 #2a2a2a, 2px 8px 10px #444141;
  
  & div{
  // background-image: src("images/Stanford_Theater_background.png" alt="");
    & img{
      width: 100%;
      height: auto;
    }
  
  background-color: #2a2a2a;
  width:100%;
  height: 100%;
  background-repeat:no-repeat;
  background-size:cover;   
    & h1{
    font-family: 'Limelight', cursive;
    color: #dca342;
    font-size: 62.1;
    padding-top: 25%;
    padding-bottom: 50%;
    padding-left: 10px;
    padding-right: 10px;
    
    }
  }
}

  #about{
    height: auto;
    & div{
      margin-left: 0px;
      margin-right: 0px;
      height: auto;
      
      & div{
        height: auto;
      }
    }
    
    & h1{
      padding: 10%;
      margin: 0%;
      height: 100%;
      width: auto;
      font-family: 'Limelight', cursive;
      font-size: 5rem;
    }

    & p{
      padding: 10%;
      width: auto;
      height: auto;
      margin: 0;
      line-height: 2.5rem;
    }
    
  }

  #current-films{
    height: 100%;
    width: 100%;

    & #carouselExampleControls{
      background-color: aqua;

    }
  }