body{
  margin: 0;
  text-align: center;
}

section{
  height: 100%;
}

#title{
  font-family: 'Poiret One', cursive;  
  & img{
    width: 100%;
    height: auto;
    
  }
  }

  #about{
    & div{
      margin-left: 0px;
      margin-right: 0px;
    }
    
    & h1{
      margin: 50;
      width: auto;
      
    }
  }

  p{
    margin: 50;
    width: auto;
  }
